*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body {
    height:3200px;
}
header {
    width:100%;
    height:530px;
    background-image: url("images2/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    position: relative;
}
.container {
   width:80%;
    margin:auto;
}
.overlay{
    height:inherit;
    width:inherit;
    position: absolute;
    top:0;
    background-color:rgba(0, 168, 255, .5);
}
.features{
    width:100%;
    margin: auto;
}
.features h1 {
    text-align: center;
    color:white;
    font-size:50px;
    margin-bottom: 30px;
    margin-top:70px;
}
.features .feat {
    float: left;
    width:48%;
    text-align: center;
    font-size: 26px;
    border:5px solid white;
    margin: 1%;
    padding:20px;
    color:white;
}
.features .feat:last-of-type{
    width:98%;
}
.visible {
    display: block;
}
/*Start Media query for header*/
@media (max-width:600px){
    .features .feat {
        float: none;
        margin-left:100px;
        margin-bottom: 20px;
        
    }
    .visible {
        display: none;
    }
    
}


/*End Media query for header*/
/*After Header */
.advantage{
    width:100%;
    height:350px;
   
}
.advantage h2 {
    text-align: center;
    margin-top: 40px;
    color:#656565;
}
.h1 {
    font-size:45px;
    font-weight: bold;
    text-align: center;
    
}
.adv{
    width:33.333%;
    float:left;
    padding: 20px;
}
.adv h3 {
    font-size:20px;
    font-weight: bold;
    color:#656565;
    margin-bottom: 10px;
}
.adv p {
    line-height: 20px;
}

/*End After Header*/
/*Media query For Div After Header */
@media (max-width:800px){
    .adv {
        
        float: none;
        width: 100%;
        text-align: center;
    }
    .advantage {
        height:450px;
    }
   
    }
 @media (min-width:800px)and (max-width:1000px){
    .adv:first-of-type {
        width:100%;
        text-align: center;
    }
    .adv:not(:first-of-type){
        width:50%;
    }
}

/*End Media Query For Div After Header*/

/*About-us Section*/
.about-us {
    height:540px;
    background-color:#ECECEC;
}
.about-us h2 {
    height:100px;
    padding-top:30px;
    color:dimgray;
    font-weight: bolder;
    font-size:60px;
}
.about-us p {
    font-size:30px;
    padding:20px;
    margin-top: 20px;
    line-height:40px;
    color:dimgray;
}
@media (max-width:800px){
    .about-us p {
        font-size:18px;
    }
    .container {
        width:100%;
    }
}
.images {
  height:685px;
}
.images div {
    width:25%;
    height:auto;
    float: left;
}
.images div img {
    width:100%;
    
}
/*End it*/

@media (max-width:800px){
    .images {
        height: auto;
        
    }
    .images div {
        float:none;
        width:100%;
        height:auto;
    }
    .images div img {
        width:100%;
    }
    
}
@media (min-width:801px) and (max-width:1000px){
    .images {
        height:1900px;
    } 
   
    .images div {
        float: left;
        width:50%;
        height:auto;
    }
}
.plans {
    width:100%;
    height:500px;
    background-color:#444444;
    text-align: center;
}
.plans h1 {
    padding-top:50px;
    font-size:50px;
    color:white;
}
.planner {
    height:310px;
    width:30%;
    float: left;
    border:5px solid white;
    line-height:40px;
    font-size:20px;
    padding:18px;
    color:white;
    margin-right:2%;
    margin-top:30px;
    
}

.planner p:last-of-type{
    color:darkgray;
}
@media(max-width:800px){
    .container {
        width:95%;
        margin:auto;
    }
    .plans {
        height:auto;
    }
    .planner {
        width:100%;
        float: none;
    }
}

