*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    height:5800px;
    background-color:black;
}
aside{
    background-color:#222222;
    width:120px;
    height:630px;
    position:fixed
}
img{
    width: 100%;
    margin:0;
}
.sidebar ul{
    list-style: none;
}
.sidebar ul li {
    color:white;
    text-align: center;
    padding:35px;
    transition: all 1s ease-in-out;
    
}
.sidebar ul li a{
    text-decoration: none;
    color:white;
}

.sidebar ul li i{
    font-size: 30px;
}
.sidebar ul li:hover{
    background-color:#CCCCCC;
    color:black;
    transform:rotate(360deg);

}
.container{
    width: 70%;
    margin:auto;
    color:black;
}
 .header .container >p  {
    font-family: Sofia;
    color:white;
    text-align: center;
    font-size: 70px;
    position:relative;
    top:30px;
    
}
.photo-head{
    margin-top:40px;
    margin-bottom:150px;
}

.skills h3{
    color:white;
    font-family: Barlow;
}
.skills hr{
    color:white;
    margin-top:10px;
    margin-bottom:40px;
}
.skills p {
    color:white;
    font-size: 15px;
    color:#646464;
    line-height: 20px;
    margin-bottom: 35px;
    
}
.percentage {
    background-color:white;
   
   
}
.much{
    background-color:#616161;
}
.much p {
    padding:13px;
}
.skills  span{
    display:block;
    color:#424242;
    margin-top:20px;
    margin-bottom: 10px;
    font-size: 20px;
    
}


.Table {
    background-color:#F1F1F1;
    overflow:hidden;
    height:120px;
    margin-top:20px;
   
  
}
.table .Table  p {
    width:25%;
    float:left;
    text-align: center;
    padding:10px;
   
   
}
.table .Table .num p{
    font-size: 30px;
    margin-top:20px;
}
.table .Table .names p{
    font-size: 14px;
    margin-top:-15px;
    font-family: Barlow;

}
button{
    margin-top:30px;
    background-color:#F1F1F1;
    border:1px solid #F1F1F1 ;
    padding:10px;
    width:23%;
    cursor: pointer;
}
.price {
    height:650px;
}
.price .hd 
{
    margin-top:40px;
    font-size: 25px;
    color:white;
    font-family: serif;
        
}

.basic {
    float:left;
    width:50%;
    color:white;
}
.basic table {
    width:100%;
    margin-top:40px;
    background-color:#DDDDDD;
    
    
}
.basic table tr {
    text-align: center;
   
    
    
}
.basic table tr th {
    padding:40px;
    background-color:#616161;
   font-size: 30px;
    font-family: Ubuntu;

    
    
}
.basic table tr td{
    padding:20px;
    background-color:white;
    color:black;
   
   
}
.bro {
     float:left;
    width:50%;
    color:white;
}
.bro table {
    width:100%;
    margin-top:40px;
    background-color:#DDDDDD;
    margin-left:40px;
    
    
}
.bro table tr {
    text-align: center;
    
}
.bro table tr th {
    padding:40px;
    background-color:#616161;
   font-size: 30px;
    font-family: Ubuntu;

    
    
}
.bro table tr td{
    padding:20px;
    background-color:white;
    color:black;
   
   
}
.bro tr td button , .basic tr td button{
    width:120px;
    background-color:white;
    
}
.rep {
    height: 450px;
}
.rep .container p{
    font-family: Ubuntu;
    color:white;
  font-size: 20px;
    
}
.rep img {
    height:100px; 
    width: 100px;
    border-radius:50%;
    margin-top: 30px;
    float: left;

   
}
.thoughts p{
    display: block;
    line-height: 30px;
   
}
.y {
    padding-top:50px;
    margin-top:40px;
    
}
.photos {
    height:1320px;
}
.photos div {
    color:white;
}
.photos p {
    margin-bottom: 20px;
}

.img-1{
    width: 48%;
    height: 1200px;
    float: left;
    overflow: hidden;
    margin-right:10px;
}
.img-2{
    width: 48%;
    height: 1200px;
    float:left;
    overflow: hidden;
}
img{
    width: 100%;
    margin-bottom:4px;
}
.contact {
    height:900px
}
.contact .i1 , .i2 , .i3
 {
    color:white;
    margin-top:25px;
    font-size: 34px;
}
.contact p {
    display: inline;
    font-size: 17px;
    margin-left:20px;
    color:#757575 
}
.inputs span{
    margin-top: 90px;
    color:#757575;
        display: block;
}
.inputs input {
    display: block;
    margin-top:30px;
    width: 100%;
    height:50px;
    font-size: 18px;
}
.logo a i{
    color:#757575;
    font-size: 20px;


